html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "intro"
    "viewing"
    "gravel"
    "symbolism"
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  padding: .5rem;
}

li a {
  color: #3783a3;
  font-size: 1.5rem;
}

.logo {
  text-align: center;
}

.intro {
  grid-area: intro;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  margin: 1.5rem;
  max-width: 30em;
  text-align: center;
}

.viewing {
  grid-area: viewing;
}

.gravel {
  grid-area: gravel;
}

.symbolism {
  grid-area: symbolism;
}

.button {
  color: #3783a3;
  text-decoration: none;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  padding: .5rem;
  display: block;
}

footer {
  border-top: .2rem solid #e2e2e2;
  margin: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.logo h2 {
  margin: 0;
}

.intro h2 {
  font-size: 2rem;
  font-weight: normal;
}

.intro p {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

.japanese {
  font-size: 1.5rem;
}



@media only screen and (min-width: 608px) {
  header {
    display: grid;
    grid-template-areas:
      "logo nav"
      "banner banner"
  }

  .logo {
    text-align: left;
    grid-area: logo;
  }

  nav {
    grid-area: nav;
  }

  .banner {
    grid-area: banner;
  }

  main {
    display: grid;
    grid-template-areas:
      "intro intro intro"
      "viewing gravel symbolism"
  }

  .intro {
    grid-area: intro;
  }

  .viewing {
    grid-area: viewing;
  }

  .gravel {
    grid-area: gravel;
  }

  .symbolism {
    grid-area: symbolism;
  }
}
