html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section {
  display: grid;
  grid-template-areas:
    "viewing"
    "gravel"
    "symbolism";
  align-items: center;
  gap: 1rem;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0 0 1rem;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 .5rem;
}

li a {
  color: #3783a3;
  font-size: 1rem;
}

.logo {
  text-align: center;
}

.intro {
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
  margin: 1.5rem 0;
  text-align: center;
}

.viewing {
  grid-area: viewing;
}

.gravel {
  grid-area: gravel;
}

.symbolism {
  grid-area: symbolism;
}

.button {
  color: #3783a3;
  text-decoration: none;
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  padding: .5rem;
  display: block;
}

footer {
  border-top: .2rem solid #e2e2e2;
  margin: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.logo h2 {
  font-size: 1rem;
  margin: 0;
}

.intro h2 {
  font-size: 2rem;
  font-weight: normal;
  padding: 0 .5rem;
  margin: 1rem 0;
}

.intro p {
  font-size: 1rem;
  padding: 0 1rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.japanese {
  font-size: 1.5rem;
  margin: 1.5rem 0 0;
}

figure {
  margin: 0;
}

figcaption p {
  margin: 0 0 1.5rem;
}

@media only screen and (min-width: 38em) {

  header {
    display: grid;
    grid-template-areas:
      "logo nav"
      "banner banner";
  }

  .logo {
    text-align: left;
    grid-area: logo;
    margin: 0 .5rem;
  }

  nav {
    grid-area: nav;
  }

  .banner {
    grid-area: banner;
    margin: 1rem 0 1.5rem;
  }

  ul {
    text-align: right;
    margin: 1rem 0;
  }

  main {
    display: grid;
    grid-template-rows: 1fr 2.2fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .intro {
    grid-row: 1;
    grid-column: 2;
    width: 30em;
    margin: 0 0 1.5rem;
  }

  section {
    grid-row: 2;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
  }

  figure {
    width: 33.3333%;
    display: block;
    padding: 0 .5rem;
  }

  .intro p {
    margin: 0;
  }

}

@media only screen and (min-width: 62em) {

  main {
    grid-template-rows: 1fr 2.1fr;
  }

}
